<% content_for :back_link do %>
  <%= render :partial => 'partials/back_link' %>
<% end %>

<div class="row text-center">
  <div class="col">
    <h1 class="mb-5">Scores from the current session</h1>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Result</th>
    </tr>
    </thead>
    <tbody>
      <% @scores.each_with_index do |score, idx| %>
        <tr class="<%= 'table-success' if score.to_sym == :victory %>">
          <th scope="row"><%= idx+1 %></th>
          <td><%= score.capitalize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>